/* App.css */
.container {
  min-height: 100vh;
  background-color: #1a202c; /* fundo preto */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: #000; /* fundo do formulário preto */
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
}

.form h1 {
  color: #fff;
  margin-bottom: 1.5rem;
}

.form label {
  display: block;
  color: #fff;
  margin-bottom: 0.5rem;
}

.form input {
  border: 1px solid #4a5568;
  padding: 0.5rem;
  width: 100%;
  background-color: #2d3748; /* fundo dos campos de entrada */
  color: #fff;
  border-radius: 0.25rem;
}

.form button {
  background-color: #3182ce; /* cor do botão */
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.form button:hover {
  background-color: #2b6cb0; /* cor do botão ao passar o mouse */
}

.error {
  color: #f56565; /* cor dos erros */
}
